!!! 5
html(lang="en")
  head
    link(rel='stylesheet' href='webjars/foundation/5.4.5/css/foundation.min.css')
    link(rel='stylesheet' href='doc.css')
    script(type='text/javascript' src='webjars/jquery/2.1.0/jquery.min.js')
    script(type='text/javascript' src='js/query-lib.js')
    script(type='text/javascript' src='js/start-time.js')
    script(type='text/javascript' src='js/doc.js')
    :javascript
      function init_all() {
        setup_page_reloader()
        get_doc_info($('#header'))
      }
      $(init_all)
  body
    #header
      h5 | Loading...
