!!! 5
html(lang="en")
  head
    link(rel='stylesheet' href='webjars/foundation/5.4.5/css/foundation.min.css')
    script(type='text/javascript' src='webjars/jquery/2.1.0/jquery.min.js')
    script(type='text/javascript' src='webjars/angularjs/1.3.2/angular.js')
    script(type='text/javascript' src='js/query-lib.js')
    script(type='text/javascript' src='js/start-time.js')
    script(type='text/javascript' src='js/folder.js')
    :javascript
      function init_all() {
        setup_page_reloader()
      }
      $(init_all)
  body(ng-app='folderModule')(ng-controller='folderCtrl')
    .row
      .column.small-6
        h3
          span(ng-repeat='p in data.parents')
            a(href='?id={{p.id}}') {{p.title}}
            | /
          span {{data.folder_title}}
      .column.small-6
        a.button.small.round.right(
                href='/auth?force=true') Reauth
        a.button.small.round.right(
                href='/') Queue
    .row
      .column.small-3
        ul.side-nav
          li(ng-repeat='fld in data.folders')
            a(href='?id={{fld.id}}') {{fld.title}}
      .column.small-9
        a.button.expand.success(
                href='{{"doc?id=" + f.id}}'
                ng-repeat='f in data.files') {{f.title}}
        /a.alert-box.success(href='{{"doc?id=" + f.id}}')(ng-repeat='f in data.files') {{f.title}}
