!!! 5
html(lang="en")
  head
    link(rel='stylesheet' href='webjars/foundation/5.4.5/css/foundation.min.css')
    script(type='text/javascript' src='webjars/jquery/2.1.0/jquery.min.js')
    script(type='text/javascript' src='js/query-lib.js')
    script(type='text/javascript' src='js/start-time.js')
    script(type='text/javascript' src='js/folder.js')
    :javascript
      function init_all() {
        setup_page_reloader()

        list_children($('#drive-folders'),
                      $('#drive-files'),
                      $('#parents'),
                      $('#folder_title'))
      }
      $(init_all)
  body
    .row
      #parents
    .row
      .column.small-9
        h4#folder_title
      .column.small-3
        a.button.small#reauth-button(href='/auth?force=true') Reauth
    .row
      .column.small-4
        #drive-folders
      .column.small-8
        #drive-files
