!!! 5
html(lang="en")
  head
    link(rel='stylesheet' href='webjars/foundation/5.4.5/css/foundation.min.css')
    link(rel='stylesheet' href='common.css')
    script(type='text/javascript' src='webjars/jquery/2.1.0/jquery.min.js')
    script(type='text/javascript' src='webjars/angularjs/1.3.2/angular.js')
    script(type='text/javascript' src='js/query-lib.js')
    script(type='text/javascript' src='js/start-time.js')
    script(type='text/javascript' src='js/queue.js')
    :javascript
      function init_all() {
        setup_page_reloader()
      }
      $(init_all)
  body(ng-app='queueModule')(ng-controller='queueCtrl')
    .row
      .column.small-6
        h2 The queue
      .column.small-6
        a.button.small.round.right(
                href='/auth?force=true') Reauth
        a.button.small.round.right(
                href='/') Browse
    .row(ng-repeat='f in data.files')
      .column.small-3
        button.button.expand.secondary.disabled
          | {{f.current}}
      .column.small-9
        a.button.expand.success(href='{{"doc?id=" + f.id}}'){
            :title => "Last: {{f.ts}}\nBase: {{f.base}}\nHalf: {{f.half}}\nDeadline: {{f.deadline}}"}
          | {{f.title}}
