!!! 5
html(lang="en")
  head
    link(rel='stylesheet' href='webjars/bootstrap/3.2.0/css/bootstrap.min.css')
    script(type='text/javascript' src='webjars/jquery/2.1.1/jquery.min.js')
    /script(type='text/javascript' src='webjars/bootstrap/3.2.0/js/bootstrap.min.js')
    script(type='text/javascript' src='start-time.js')
    script(type='text/javascript' src='auth.js')
    script(type='text/javascript' src='drive.js')
    :javascript
      function init_all() {
        setup_page_reloader()
        setup_auth($('#auth')).done(function() {
            list_children($('#drive'))
        })

        //$( document ).ajaxError(function( event, jqxhr, settings, exception ) {
        //    var msg = "Ajax error: " + settings.url
        //    console.log(msg, jqxhr, settings, exception)
        //    alert(msg)
        //});
      }
      $(init_all)
  body
    .container
      .row
        .col-md-8
          | Left column
          #drive
        .col-md-4
          | Right column
